{{ ansible_managed | comment }}
#
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
#
global
{{ haproxy_config_global|indent(8) }}

defaults
{{ haproxy_config_defaults|indent(8) }}

#
#---------------------------------------------------------------------
# Backends settings
#---------------------------------------------------------------------
#
{% for frontend in haproxy_frontends %}
frontend {{ frontend.name }}
        bind {{  frontend.bind }}
        {{ frontend.config|indent(8) }}
{% endfor %}

{% for backend in haproxy_backends %}
backend {{ backend.name }}
        {{ backend.config|indent(8) }}
{% endfor %}

{% for listen in haproxy_listen %}
listen {{ listen.name }}
        {{ listen.config|indent(8) }}
{% endfor %}
